// @import 'bulma';
// @import '~bulma-slider';

body {
	margin: 0;
	padding: 0;

}

.active {
	display: block;
	width: 800px
}

.disabled {
	display: none;
}

.columns {
	margin: 0 !important, 
}

.column {
	height: 100vh;
	flex-basis: 0;
	padding: 0 !important
}

.menu {
	height: 100%;
	width: 15rem;
	background: #f4f1ff;
	padding: 1.5rem,
}

.menu-list {
	padding: 1rem 0;
}

#canvas-container {
	padding: 0;
	margin: 0;
}

.tool-menu {
	background: #26547c;
	height: 100%;
	padding: 2rem 1rem;
	display: flex;
	flex-direction: column;
	margin: 0;
}

.icon {
	margin: 0.5rem 0;
}

.icon * {
	fill: #fcfcfca6;
}

.icon:hover * {
	fill: #fcfcfc;
	transform: scale(1.05);
	cursor: pointer;
}

#canvas {
	height: 100vh;
	// background: coral;
}

.file-menu-list * {
	padding: 0.5rem 0
}

.color-picker {
	margin: 0.4rem 0;
}
