// @import 'bulma';
// @import '~bulma-slider';

html {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}


.columns {
	margin: 0,

}

.tool-menu {
	background: red;
	height: 100%;
	width: 3rem;

	display: flex;
	flex-direction: column;

}

.menu {
	height: 100%;
	width: 15rem;
}

.column {
	height: 100vh;
	flex-basis: 0;
}

#canvas-container {
	padding: 0;
	margin: 0;
}

#canvas {
	
	height: 100vh;
	background: coral;
}